<div class="container w-100 mt-10 text-center">
  <div class="text-center m-6 display-5 text-black">
    Random country Limit : {{limit}}
  </div>
  <div>
    <h2>Upto to 20 Random countries will be displayed</h2>
  </div>
  <input 
  type="range"
  name="Country Range"
  width="5"
  min="1"
  max="20"
  value="{{limit}}"
  class="slider form-control-range"
  (change)="handleSlideChange($event)"
  />

  <button 
  class="btn btn-info"
  (click)="generateRandomCountry()"
  >
  GENERATE 20 RANDOM COUNTRIES
  </button>

  <div  class="card card-body">
    <p class="display-3">
      {{countries}}
    </p>
  </div>


</div>